@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
  font-family: 'AO Mono';
  src: url('/AOMono-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AO Mono';
  src: url('/AOMono-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AO Mono';
  src: url('/AOMono-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Regular';
  src: url('/Inter-SemiBold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

header {
  font-family: 'AO Mono', sans-serif;
  margin: 0px;
}

body {
  font-family: 'Inter Regular', sans-serif;
  margin: 0px;
}

h1 {
  font-family: 'AO Mono', sans-serif;
  font-weight: 900;
  color: #ED1B58;
  font-size:120px;
}

h2 {
  font-family: 'Inter Regular', sans-serif;
  font-weight: 1000;
}


p {
  font-family: 'Inter SemiBold', sans-serif;
  font-weight: 900;
  color: #0023ff;
}

#siteWrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

#innerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
}

#nowrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 70px;
  class: "center"
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}

.imageStyle {
  display: flex;
  margin: 20px;
  width: 23%;
  height: 23%;
}

.imageStyle:hover {
  box-shadow: 7px 7px 0px #283277;
}

.innerImage {
  display: flex;
  width: 100%;
  height: 100%;
}

#navbar {
  display: flex;
  position: absolute;
  top: 10;
  left: 10;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: start;
}

.nav-item {
  margin: 10px;
  text-decoration: none;
  color: #ED1B58;
  font-size: 20px;
  text-align: center;
}

.bodyWithHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}

.bodyTIGHT {
  width: 40%;
  display: flex;
  justify-content: center;
  margin: 300px;
  margin-top: 40px;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.embeddedObservable {
  width: 100%;
  margin: auto 0;
}

.basic-wrapper {
  display: flex;
  width: 75%;
  margin: 0 auto;
}

.bodyWithHeaderSillyColour {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #ED1B58;
  color: white;
  font-size:70px;
}

.nav-item-inverse {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(170, 20, 12);
  text-align: center;
}

.audio-icon {
  display: none;
}

@media screen and (max-width: 900px) {
  body {
    background-color: #DADDD8;
  }
}